body {
  font-size:  30px;
}

.highlight{font-size:70px;color:rgb(255, 115, 0)}
.highlight2{color:rgb(0, 157, 255)}
.highlight3{background-color:black}

#header{color: rgb(63, 218, 218);}

.center{text-align: center;}

#todo-list {
  background: rgb(178, 163, 163);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
}
/* 左寄せ */

#todo-list2 {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}
/* 中央ぞろえ */

.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.input-area2 {
  display: flex;
  gap: 10px;
  margin: 15 auto;

  border-radius: 6px;
  padding: 20px;
  width: 80%;
  margin-bottom: 30px;
  max-width: 1000px;
}

.box{
    padding: 20px;
}

#newTask {
  display: flex;
  gap: 10px;
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  margin: 15 auto;
  max-width: 1000px;
}

#no{border: 2px solid #3b3333;}

#addButton {
  padding: 8px 16px;
  background-color: #df5f5f;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

#addButton:hover {
  background-color: #09b3dd;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #ddd;
}

td {
  padding: 10px;
}

@media (max-width: 600px) {
  .input-area {
    flex-direction: column;
  }

  #addButton {
    width: 100%;
  }
}

/* inside of the contents */
.q {
  background: lightblue;
  margin: 20px;
}

/* outside of the contents */
.b {
  background: lightblue;
  padding: 20px;
}
